<body>
    <header>
        <a [routerLink]="['/']" routerLinkActive="router-link-active" ><button type="submit" mat-raised-button>Volver al Menu principal</button></a>
        <a [routerLink]="['/mostrar-usuario']" routerLinkActive="router-link-active" ><button type="submit" mat-raised-button>Ver Usuarios</button></a>
        <a [routerLink]="['/mostrar-ticket']" routerLinkActive="router-link-active" ><button type="submit" mat-raised-button>Mostrar Tickets</button></a>
        <a [routerLink]="['/mostrar-prioridad']" routerLinkActive="router-link-active" ><button type="submit" mat-raised-button>Mostrar Tickets por Prioridad</button></a>
        <a [routerLink]="['/cambiar-estado']" routerLinkActive="router-link-active" ><button type="submit" mat-raised-button>Cambiar Estado de un Ticket</button></a>
    </header>
</body>
