body{
    background-color:rgb(200, 235, 243);
}

header{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: auto;
}

header button{
    padding: 10px 40px;
    font-size: 30px;
    margin: 20px 30px;
    font-size: 16px;
}

a{
    align-items: center;
}