body{
    background-color: rgb(108, 153, 211);
    justify-content: center;
    padding: 15px;
    align-items: center;
    height: auto;
    width: 100%;
}


header button{
    padding: 10px 35px;
    font-size: 20px;
    margin: 5px 10px;
    align-items: center;
    justify-content: center;
}
